<!DOCTYPE html>
<html>
<head>
  <title>PersonalPage</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script type="text/javascript" src="easing.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to '勤', root_path, :class => "navbar-brand" %>
      </div>

      <div class="collapse navbar-collapse">
        <ul id="scrollnav" class="nav navbar-nav navbar-right">
          <li><a id="aboutlink" href="#about">About</a></li>
          <li><a id="projectslink" href="#projects">Projects</a></li>
          <li><a href="https://ikencode.wordpress.com">Blog</a></li>
          <li><a id="contactlink" href="#contact">Contact</a></li>
          <li class="dropdown">
            <a href="#" class="glyphicon glyphicon-list dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
            <ul class="dropdown-menu">
              <li><a href="#">Sign in</a></li>
              <li><a href="#">Sign up</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <%= yield %>

  <br class="clear" />
  <div id="footer">
    <div class="col-xs-12 col-sm-6">
      <h6>Copyright © 2016</h6>
    </div>
    <div class="col-xs-12 col-sm-6 text-right">
      <%= link_to '', '#', :class => "fa fa-facebook-square fa-3x" %>&nbsp;&nbsp;
      <%= link_to '', '#', :class => "fa fa-instagram fa-3x" %>&nbsp;&nbsp;
      <%= link_to '', '#', :class => "fa fa-twitter fa-3x", :style => "margin-right: 50px" %>
    </div>
  </div>


  <script type="text/javascript" src="skrollr.min.js"></script>
      <script type="text/javascript">
      var s = skrollr.init();
      </script>
  </body>
</body>
</html>
